html {
    background-image: url("http://unsplash.it/1500/1000?image=881&blur=5");
    font-family: 'helvetica neue';
    background-size: cover;
    text-align: center;
    font-size: 10px;
}

body {
    font-size: 2rem;
    display: flex;
    /* flex: 1; */
    min-height: 100vh;
    /* justify-content: center; */
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 
        0 0 0px 4px rgba(0, 0, 0, 0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0, 0, 0, 0.2);
}

.hand {
    width: 50%;
    height: 6px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%; 
    /* default is 50%
    100% will put rotation at the right hand side */
    transform: rotate(90deg);
    /* default hand is horizontal
    90% will put rotate hand vertically */
    /* transition: all 0.5s; clock hands will move smoothly, but there's a roundabout transition when second = 0 */
    transition-timing-function: cubic-bezier(0.86, 2, 0.58, 0.59);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of clock hands */
}